/* personnage du carousel */
.story {
  #characters.characters-section {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 6rem 0 6rem 6.25rem;
    width: 100%;

    h3 {
      align-self: flex-start;
    }
  }
}

.characters-swiper {
  width: 100%;

  .swiper-slide {
    width: 360px;
    text-align: center;
  }

  figure {
    width: 400px;
    height: 440px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    display: block;
    width: 360px;
    height: 360px;
    object-fit: contain;
  }
}