/* ===== section footer/oscars ===== */
.site-footer {
  display: block;
  min-height: 55rem;
  padding-top: 10rem;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.site-footer::after {
  content: none;
}

.site-footer::before {
  content: "";
  position: absolute;
  width: 216px;  
  height: 216px;
  background-image: url("../../../foce/assets/images/Sunflower.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 5rem; 
  top: 2rem;   
}

#studio {
  position: relative;
}

#studio::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 170px;
  background-image: url("../../../foce/assets/images/orchid.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: -4rem;
  bottom: -8.5rem;
  /*animation: rotateFlower 15s linear infinite; ajout de #studio::after dans animation de rotation*/
}

.oscars {
  width: 100%;
  position: relative;
  z-index: 2;
}

.oscars_inner {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.oscars_text {
  margin: 0;
  width: 761px;
  height: 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #FFF5E9;
  text-align: left;
  background-image: url("../images/orange_title_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img_oscars {
  display: block;
  width: 279px;
  height: 129px;
  margin-top: 3.625rem;
} 

/* menu footer fixé en bas */
.site-footer ul {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 2;
}