/* section lieu */
.story {
  #place {
    position: relative;
    background-image: url("../images/Studio_Koukaki-image_place.png");
    overflow: hidden;

    .big_cloud {
      position: absolute;
      width: 316px;
      height: 122px;
      right: 90px;
      top: 70px;
      filter: blur(10px);
    }

    .little_cloud {
      position: absolute;
      width: 142px;
      height: 55px;
      right: 516px;
      top: 258px;
      filter: blur(13px);
    }
  }
}

/*responsive*/
@media (max-width: 767px) {
  .story {
    #place {
      .big_cloud,
      .little_cloud {
        display: none;
      }
    }
  }
}

/*responsive titre section*/
@media (max-width: 426px) {
  .story #place h3 {
    font-size: 1.8rem; 
  }
}