html, body {
  overflow-x: hidden;
}

/* ===== vidéo bannière ===== */
.banner {
  position: relative;
  overflow: hidden;
}

.banner_video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.banner_logo_wrapper {
  position: relative;
  z-index: 2;
  margin-top: -10%;
  width: 50%;
}

.banner img.banner_logo {
  display: block;
  width: 100%;
  margin-top: 0;

  animation: float 4s ease-in-out infinite;
}

/* ===== animation flottement titre ===== */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* ===== animation fade in avec Keyframes ===== */
@keyframes fadeDown { /*effet de descente*/
    from {
    opacity: 0;
    transform: translateY(-100px);
    }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
    animation: fadeDown 1.5s;
}

@keyframes fadeUp { /*effet de monté*/
    from {
    opacity: 0;
    transform: translateY(300px);
    }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
    animation: fadeUp 1.5s;
}
/* ===== test exempter balise p ===== */
/*section story 
Animation des décorations du h2
.story h2::before,
.story h2::after {
animation: fadeUp 1.5s;
}*/
/* Animation des décorations de l’article
.story__article::before,
.story__article::after {
  animation: fadeUp 1.5s;
}*/
/*section lieu
.story #place {
  position: relative;
  overflow: hidden;
  background: none; // enlève le background original
}*/
/*
.story #place::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../foce/assets/images/place_bg.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  animation: fadeUp 1.5s;
}*/
/*
.story #place > * {
  position: relative;
  z-index: 1;
}*/
/* Animation des décorations section studio 
#studio > div::before {
  animation: fadeUp 1.5s;
}*/

/* ===== rotation fleur ===== */
@keyframes rotateFlower {
  from   { 
    transform: rotate(0deg); 
  }
  to { transform: rotate(360deg); 
  }
}
.story h2::after,
.story__article::after,
#studio h2::after,
#studio h2::before,
#studio::after,
.site-footer::after,
.site-footer::before,
.site-footer ul::after
 {
  animation: rotateFlower 15s linear infinite;
}

/* ===== titre au scroll ===== */
.title-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  display: inline-block;
}

.title-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ===== section footer/oscars ===== */
.site-footer {
  display: block;
  min-height: 55em;
  padding-top: 10em;
  padding-bottom: 1em;
  position: relative;
  overflow: hidden;
}

.site-footer::after {
  content: none;
}

.site-footer::before {
  content: "";
  position: absolute;
  width: 216px;  
  height: 216px;
  background-image: url("../../../foce/assets/images/Sunflower.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 5em; 
  top: 2em;   
}

#studio {
  position: relative;
}

#studio::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 170px;
  background-image: url("../../../foce/assets/images/orchid.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: -4em;
  bottom: -8.5em;
  /*animation: rotateFlower 15s linear infinite; ajout de #studio::after dans animation de rotation*/
}

.oscars {
  width: 100%;
  position: relative;
  z-index: 2;
}

.oscars_inner {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.oscars_text {
  margin: 0;
  width: 761px;
  height: 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #FFF5E9;
  text-align: left;
  background-image: url("../images/orange_title_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img_oscars {
  display: block;
  width: 279px;
  height: 129px;
  margin-top: 58px;
} 

/* menu footer fixé en bas */
.site-footer ul {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  z-index: 2;
}





/* ===== responsive ===== */

/* ===== vidéo bannière / image feelback mobile ===== */
@media screen and (max-width: 768px) {
  .banner {
    min-height: 500px;
    background-position: center;
  }

  .banner_video {
    display: none;
  }

  .banner_logo_wrapper {
    width: 75%;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    min-height: 220px;
  }

  .banner_logo_wrapper {
    width: 60%;
  }
}